target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
/.idea/
*.iws
*.iml
*.ipr
src/test/resources/credentials.properties
src/test/resources/encryption.properties