<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="CucumberTestSuite" parallel="classes" thread-count="2">
    <test name="BlastWebTests">
        <classes>
            <class name="com.detnet.runners.BlastWebMainRunner"/>
        </classes>
    </test>

    <test name="ShutdownHook">
        <classes>
            <class name="com.detnet.utilities.ShutdownUtils"/>
        </classes>
    </test>
</suite>